.loginForm p{
    font-size: small;
    margin: 5%;
    margin-top: 0%;
    text-align: justify;
}
/* .loginForm button{
    background-color: #45B6AF;
    outline: none;
    border: none;
    color: white;
    font-weight:700;
    font-size:small;
    margin-left: 20%; 
    padding: 3%;
    cursor: pointer;
} */
.pButton{

    display: flex;
    flex-direction: row;
    justify-content:space-around;
    padding-bottom: 10%;
    
}
.pButton a{
    padding-left:5%;
    padding-right: 5%;
    padding-bottom: 2%;
    padding-top: 2%; 
    text-decoration: none;
    color: #979ea8;
    background-color: white;
    margin-top: 2%;
    position: relative;
    left:-40px;
    font-weight:500;
}
.pButton a:hover{
    color:rgb(25, 143, 25);
}
.pButton button{
    background-color: #45B6AF;
    outline: none;
    border: none;
    color: white;
    font-weight:700;
    font-size:small;
    margin-left: 5%; 
    margin-right: -30px;
    padding: 3%;
    cursor: pointer;

}